extends base.pug

block scripts
  script(src='/static/index.js')
  
block style
     style 
      include style.css
      include styleabout.css
      include phone.css

block content
    section#section-contaener
      div.box1
           img(src="/static/bg17.jpg", alt="Error")
      div.box1
          
          h2 A good workout is a creat way to crear your mind
          p waking up ridiculously sore from your workout the day bettor is the best feeling ever.every day is anoher chance to get stronger to eat better to live health and to be the best verion of youCurrently Titan Fitness Camp is one of the largest Fitness camp in Thailand and South East Asia. The Fitness camp is divided into an outdoor training fitness facility, indoor gym, strongman area, assault course, and Healths Kitchen. Further more Titan has a three story indoor gym with a gear shop plus onsite accommodation. The indoor gym has a protein bar and gear shop located in the reception.
             Our vision is to offer you the customer the highest level of training and to make your stay at Titan Fitness Camp an experience you will never forget. Most of our costumers who join Titan Fitness come to transform their bodies, remove bad habits and take a break from their stressful lives.

             Fitness training is the best way to unwind and rejuvenate. Stepping out of your immediate environment and   placing yourself among people who are out to achieve the same goals is the first step. We encourage our   clients to train hard, eat healthy and rest because these are three main keys to a successful body   transformation. Sounds easy but the reality is the opposite. To teach and guide you to your goals we have   the best coaches on-board. They will tell you what to eat, how and when to train and rest. Rest and   recovery is important and relaxing by the swimming pool between classes is really nice.

             We feel very fortunate to be in the country we are in, and as such repesct all local laws, culture and people.
             We are firm believers in social responsibility in business. To this end we regularly reach out to one of   the many Phuket charities to see what we can do to help. Keep an eye on our facebook page to see if you   can get involved next time.
    section#section-myabout
      div.box2
           
          h2 Once you see result it becomes an addiction
          p Its easier to wake up early in the morning is workout than it is to look in the mirror each day not like what you see. my summer body is in progress .Phuket is one of the most beautiful places in the world, it is also a perfect destination when it comes to fitness, health and well-being. Titan Fitness Camp was founded in 2013 by Kim Lindholm and is located in the center of Phuket Island. It is situated in a very unique area where Fitness and Martial Arts is practiced regularly. The owners of Titan Fitness, Kim Lindholm and Puttachart Sakulpuwatana came together after they recognized a need for premium quality fitness bootcamp. From this vision and idea, Titan Fitness Camp was born.
           For more information about activities around Phuket see here body achives what the mind belives.join base and transform your body and mind
           Fitness training is the best way to unwind and rejuvenate. Stepping out of your immediate environment and   placing yourself among people who are out to achieve the same goals is the first step. We encourage our   clients to train hard, eat healthy and rest because these are three main keys to a successful body   transformation. Sounds easy but the reality is the opposite. To teach and guide you to your goals we have   the best coaches on-board. They will tell you what to eat, how and when to train and rest. Rest and   recovery is important and relaxing by the swimming pool between classes is really nice.
           Our vision is to offer you the customer the highest level of training and to make your stay at Titan Fitness Camp an experience you will never forget. Most of our costumers who join Titan Fitness come to transform their bodies, remove bad habits and take a break from their stressful lives.
          
      div.box2
          img(src="/static/bg14.jpg", alt="Eroor") 
    section#section-myimg
      div.box3
          img(src="static/bg7.jpg", alt="error")
      div.box3
          img(src="/static/bg5.jpg", alt="Eroor")
      div.box3
          img(src="static/bg11.jpg", alt="error")
      div.box3
          img(src="/static/bg9.jpg", alt="Eroor")
      div.box3
          img(src="/static/bg12.jpg", alt="Eroor")          
           
           
          