doctype html
html
  head
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    
     

    title Sk Fitness Center
  block scripts
  block style
       
    
      
  body
    nav#navbar
       div#logo
         img( sk src="/static/logo.png", alt="Error" fitness) 
         div.name Sk Fitness Center
         
       ul 
         li #[a(href="/") Home]
         li #[a(href="http://localhost:500/about") About]
         li #[a(href="http://localhost:500/contact") Contact ]
         li #[a(href="http://localhost:500/classes") Classes]
    block content
    footer#section-footer
       div#footar
         div.foot  
           i( class="fa-solid fa-phone fa-xl") +91 - 186- 4625- 621
         div.foot 
           i(class ="fa fa-envelope fa-xl")  
           p skfitnesscenter@gmail.com
         div.foot 
           i( class="fa fa-location-dot fa-xl") 
           p sanjaypalace agra up 20008
       div#fotarr
          h1 Join Today
       
       
       div#footarr 
         div.foota 
           i(  class="fa-brands fa-facebook fa-2xl")
         div.foota 
           i( class="fa-brands fa-instagram fa-2xl")
         div.foota 
           i( class="fa-brands fa-twitter fa-2xl")
       div#timingfootarr
           h2 Opening Timeing
           p MON - SAT 
           p    4:00AM - 10:00PM   
    footer#footer
           | copyright &copy 2019 SkFitnessCenter.com |All rights reserved 