extends base.pug
   
block scripts
  script(src='/static/index.js')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
block style
     style 
      
      include style.css
      include phone.css

      
block content 
     
              
     section#imgsection
         h1  Where Fitness Become Your Lifestyle
       
           
     
         
        
     section#container
      div.cont
          h1 Best Teacher
          h2 Hard work blebas talent when talent does not work hard 
          p put in the work and stay consistent do not expect things to happen over night never give up and donot be aeraid to fail that how you get better. the act of getting strong does not stret in the gym if streat doees not streat in the gym if starts in your head.
          p i have a clear goal in mind and nothing can stop me  and the best teacher of sk fitness center .
      div.cont
           img(src="/static/bg1.jpg", alt="trrinar")

     section#section-container
      div.box-1
           img(src="/static/bg16.jpg", alt="Error")
      div.box-1
          h1 About Us
          h2 the pain you feel today is the strength you feel tomorrow
          p waking up ridiculously sore from your workout the day bettor is the best feeling ever.every day is anoher chance to get stronger to eat better to live health and to be the best verion of you
          p i have a clear goal in mind and nothing can stop me.

     section#section-content
      div.box-2
          h1 Motivation 
          h2 Where Health Becomes Your Priority
          p Its easier to wake up early in the morning is workout than it is to look in the mirror each day not like what you see. my summer body is in progress .
          p the body achives what the mind belives.join base and transform your body and mind
      div.box-2
          img(src="/static/bg6.jpg", alt="Eroor")



     section#section-contact
      div.box-3
          img(src="/static/bg2.jpeg", alt="Error")
      div.box-3
          h1 Result 
          h2 pain is only temprorary but vectory is forever
          p  Result of some days of workout to helping you achieve real, lasting results. Our programs are designed to help you build strength, improve your endurance, and boost your overall health and wellbeing.
          p  30-60minetus of being uncomfotable is better than being uncomfotable your enter life            
      
          