doctype html 
html 
 head
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css") 
    title Sk Fitness Center 
    style 
      include style.css 
 body 
     nav#navbar
       div#logo
         img( sk src="/static/logo.png", alt="Error" fitness) 
         div.name Sk Gym Center
         
       ul 
         li #[a(href="/") Home]
         li #[a(href="/") About Us]
         li #[a(href="/") Contact ]
         li #[a(href="/") Classes]
              
     section#imgsection

        h1  Where Fitness Become Your Lifestyle
       
           
     section.services-container 
        h2 Our Services
       
     div.card
         p Base Hitt 
         hr
         p Base Strength
         hr
         p Base Endurance
     div.card
         p 40min
         hr
         p 40min
         hr
         p 40min
     div.card
         button.btn Book now
         hr
         button.btn Book now
         hr
         button.btn Book now
         
        
     section#container
      div.cont
          h1 Best Teacher
          h2 Hard work blebas talent when talent does not work hard 
          p put in the work and stay consistent do not expect things to happen over night never give up and donot be aeraid to fail that how you get better. the act of getting strong does not stret in the gym if streat doees not streat in the gym if starts in your head.
          p i have a clear goal in mind and nothing can stop me  and the best teacher of sk fitness center .
      div.cont
           img(src="/static/bg1.jpg", alt="trrinar")

     section#section-container
      div.box-1
           img(src="/static/bg16.jpg", alt="Error")
      div.box-1
          h1 About Us
          h2 the pain you feel today is the strength you feel tomorrow
          p waking up ridiculously sore from your workout the day bettor is the best feeling ever.every day is anoher chance to get stronger to eat better to live health and to be the best verion of you
          p i have a clear goal in mind and nothing can stop me.

     section#section-content
      div.box-2
          h1 Motivation 
          h2 Where Health Becomes Your Priority
          p Its easier to wake up early in the morning is workout than it is to look in the mirror each day not like what you see. my summer body is in progress .
          p the body achives what the mind belives.join base and transform your body and mind
      div.box-2
          img(src="/static/bg6.jpg", alt="Eroor")



     section#section-contact
      div.box-3
          img(src="/static/bg2.jpeg", alt="Error")
      div.box-3
          h1 Result 
          h2 pain is only temprorary but vectory is forever
          p  Result of some days of workout to helping you achieve real, lasting results. Our programs are designed to help you build strength, improve your endurance, and boost your overall health and wellbeing.
          p  30-60minetus of being uncomfotable is better than being uncomfotable your enter life            
      
        
     footer#section-footer
       div#footar
         div.foot  
           i( class="fa-solid fa-phone fa-xl") +91 - 186- 4625- 621
         div.foot 
           i(class ="fa fa-envelope fa-xl")  
           p skfitnesscenter@gmail.com
         div.foot 
           i( class="fa fa-location-dot fa-xl") 
           p sanjaypalace agra up 20008
       div#fotarr
          h1 join today
       
       
       div#footarr 
         div.foota 
           i(  class="fa-brands fa-facebook fa-2xl")
         div.foota 
           i( class="fa-brands fa-instagram fa-2xl")
         div.foota 
           i( class="fa-brands fa-twitter fa-2xl")
       div#timingfootarr
            h1 Opening Timing
            p MON - SAT 
            p    4:00AM - 10:00PM   
     footer#footer
         | copyright &copy,2019 SkFitnessCenter.com |All rights reserved
        
        
        
        
        
         
              

script 
    include index.js                              